<div class="container">
  <h2><i class="bi bi-clipboard-fill"></i> Lista de Estudiantes</h2>
  <button *ngIf="userRole === 'admin' || userRole === 'director' || userRole === 'maestro'" class="btn btn-success" (click)="crearEstudiante()">
    <i class="bi bi-plus-lg"></i> Agregar Estudiante
  </button>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Género</th>
        <th *ngIf="userRole === 'admin' || userRole === 'director' || userRole === 'maestro'">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of estudiantes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.apellido }}</td>
        <td>{{ estudiante.edad }}</td>
        <td>{{ estudiante.genero }}</td>
        <td>
          <button *ngIf="userRole === 'admin' || userRole === 'director' || userRole === 'maestro'" class="btn btn-primary" (click)="editarEstudiante(estudiante.id,estudiante.usuario_id)">
            <i class="bi bi-pencil-fill"></i> Editar
          </button>
          <button *ngIf="userRole === 'admin' || userRole === 'director' || userRole === 'maestro'" class="btn btn-danger" (click)="eliminarEstudiante(estudiante.id, estudiante.usuario_id)">
            <i class="bi bi-trash3-fill"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
